# Specify language for Python files
*.py linguist-language=Python

# Specify language for Go files
*.go linguist-language=Go

# Exclude test files from language statistics
tests/** linguist-vendored
*.test.py linguist-vendored

# Exclude documentation files from language statistics
docs/** linguist-vendored
*.md linguist-vendored

# Exclude internal folder from language statistics
internal/** linguist-vendored

# Exclude pythonsrc folder from language statistics
pythonsrc/** linguist-vendored
