name: Test installer script

on:
  push:
    branches: [ main ]
    paths:
      - 'install.sh'
  pull_request:
    branches: [ main ]
    paths:
      - 'install.sh'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test-install-unix:
    runs-on: depot-ubuntu-latest
    steps:
      - name: Use install script
        run: curl -LsSf https://raw.githubusercontent.com/bruin-data/bruin/${{ github.sha }}/install.sh | sh -s -- -d
      - name: Run bruin version
        run: bruin version


  test-install-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
        with:
          sparse-checkout: |
            /*
            !docs/
          sparse-checkout-cone-mode: false
      - name: Use install script
        shell: bash
        run: curl -LsSf https://raw.githubusercontent.com/bruin-data/bruin/${{ github.sha }}/install.sh | sh -s -- -d
      - name: Run bruin version
        shell: bash
        run: ~/.local/bin/bruin.exe version
